body {
  color: white;
  background-color: #153542;
  font-family: sans-serif;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}

main {
  text-align: center;
}

img {
  height: 48px;
  padding: 16px 8px;
}

.impressum {
    text-align: justify;
    list-style: none;
    font-weight: 300;
    margin: auto;
    max-width: 515px;
    padding: 2em;
}

a { 
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f6a122;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 20px 20px 20px;
}